<footer style='padding-left: 20px;'>
  <div class='row' style='background-color: grey;  padding-top: 25px;'>
    <div class='col-lg-4'></div>
    <div class='col-lg-4'>© 2020 Copyright: Food Waste Management System
    </div>
    <div class='col-lg-4'></div>
  </div>
</footer>