<div class='donation-cat-btn'>
  <button>Food for me</button>
</div>
<div class='donation-cat-btn'>
  <button>Food for me</button>
</div>
<div class='donation-cat-btn'>
  <button>Food for me</button>
</div>
<div class='donation-cat-btn'>
  <button>Food for me</button>
</div>
<div class='donation-cat-btn'>
  <button>Food for me</button>
</div>