<form class='col-lg-12' action='/logout' method='POST'>
  <div class='row'>
    <input type='hidden' name='_csrf' value='{{csrfToken}}' />
    <div class='col-lg-4'>
      <input type='text' class='form-control' placeholder='Search Donation' aria-label='Username' aria-describedby='basic-addon1' />
    </div>
    <div>
      <button class='btn btn-outline-primary'>Search</button>
    </div>
  </div>
</form>