<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <style type="text/css">
		.has-error input, .has-error textarea{
			border: red solid 1px;
			margin-bottom: 0px
		}
		.has-error input:focus, .has-error textarea:focus{
			border: red solid 1px;
		}
		.has-error {
			color: red;
		}
    </style>
</head>
<body class="my-login-page" style="background-color: #D3D3D3;">
</body>
</html>