<div class="container">
    <h1 class="mt-5">BAD REQUEST : 404</h1>
    <p class="lead">The resource you are trying to access not found</p>
    {{!-- <p>Use <a href="/docs/5.2/examples/sticky-footer-navbar/">the sticky footer with a fixed navbar</a> if need be, too.</p> --}}
  </div>