
<div class="row">
 <div class="container py-4">

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Food Waste Management System</h1>
        <p class="col-md-8 fs-4">Food waste management system is a social network for food waste management.It lets you share your food with your neighbor , to needy people or organization who can turn your food waste into meaningful resource</p>
        <button class="btn btn-outline-secondary" type="button">Donate</button>
         <button class="btn btn-outline-secondary" type="button">Need Help</button>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>Share food with others</h2>
          <p>Share your left over food with your neighbor or needy people</p>
          <button class="btn btn-outline-light" type="button">Donate</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Donate your food for good cause</h2>
          <p>Donate food to people who can use your food and help the environment</p>
          <button class="btn btn-outline-secondary" type="button">Donate</button>
        </div>
      </div>
    </div>
</div>